<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida | Kurser</title>
    <script src="https://kit.fontawesome.com/8726bca3f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header>
        <h1>Backend-baserad webbutveckling</h1>
        <h2>Moment 1</h2>
        <nav>
            <ul>
                <li><a href="/" class="active">Startsida</a></li>
                <li><a href="/add">Lägg till kurs</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main id="index">
        <h1>Befintliga kurser</h1>
        <section>
            <% courses.forEach((course) => {%>
                <article>
                    <h2><%= course.coursename %></h2>
                    <div class="courseInfo">
                        <p>Kurskod: <%= course.coursecode %></p>
                        <p>Progression: <%= course.progression %></p>
                        <a href="<%= course.syllabus %>" target="_blank">Länk till kursplan</a>
                    </div>
                    <div class="buttons">
                        <a href="/delete/<%= course.id %>" class="deleteBtn"><i class="fa-solid fa-trash-can"></i></a>
                        <a href="/edit/<%= course.id %>" class="editBtn"><i class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                </article>
            <%});%>
        </section>
    </main>
    <footer>
        <p>Laborationsuppgift för kursen DT207G, Backend-baserad webbutveckling</p>
        <p>© Copyright 2024 Emma Ådahl Görling</p>
    </footer>
</body>
</html>